body{
    background-color: #9ec1e0;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    list-style: circle;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    list-style: circle;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

div p{
    font-weight: bold;
}

a.link{
    color: green;
}

a.visteded{
    color: red;
}

.firstletter{
    font-weight: normal;
}

.firstletter::first-letter{
    font-size: x-large;
}




 
.navbar {
    background-color: navy;
    color: white;
    text-decoration: none;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
  }
  
  .navbar li {
    list-style-type: none;
    display: inline-block;
  }
  
  .navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }

  .navbar li a:focus {
    text-decoration: underline;
  }